*, ::before, ::after 
{
	box-sizing: border-box;
}

body{
    background-color:rgb(103, 166, 187);/* 0, 191 , 255 is what i has before*/
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;

}
p{
    margin-top:5px;
    margin-bottom:5px;
}
/* header */
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* The game */
#game-content{
    margin-left:auto;
    margin-right:auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
#game-content-ui{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    background-color:rgb(55, 103, 119)
}
.game-content-ui-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 10px;
    /* padding: 5px; */
}
#midUI{
    justify-content: center;
}
#rightUI{
    justify-content:end;
}

.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}



/* special cases */
#table{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td{
    min-width: 35px;
    height: 35px;
    text-align: center;
    background-color: gray;
    user-select: none;
    border: 2px solid black;
}

.symbols{
    font-size: 16px; /* Size of the symbol */
    background-color: rgb(55, 103, 119); /* Background color of the button */
    /* color: white; Color of the symbol */
    /* border: 1px solid white; Removes the default border */
    /* border-radius: 5px; Optional: Rounds the corners */
    
}

.clickable{
    cursor: pointer; /* Changes the cursor to a pointer when hovering */
}

#github{
    text-decoration: none
}